Repository gregorias/findata-funnel: changes, and which lefthook commands are due for each by the changed paths.
All: hpack, hlint, fourmolu, prettier

hpack:
  run: hpack && git add findata-funnel.cabal

hlint:
  tags: lint
  run: stack exec hlint {staged_files} -- -X QuasiQuotes

fourmolu:
  tags: style
  run: fourmolu -o "-XTypeApplications" -o "-XImportQualifiedPost" -i {staged_files}
  stage_fixed: true

prettier:
  tags: style
  run: prettier -c {staged_files}

chore: release
  dev/bin/release-new-version
Due: none

feat(coop): update Coop fetching
  findata-funnel.cabal
  lefthook.yml
  package.yaml
  src/CLI.hs
  src/Control/Concurrent/Extra.hs
  src/Coop.hs
  src/FindataFetcher.hs
  src/FindataTranscoder.hs
Due: hpack, hlint, fourmolu, prettier

chore: release
  findata-funnel.cabal
  package.yaml
Due: hpack, prettier

feat(coop): add ledgersort
  findata-funnel.cabal
  src/Coop.hs
  src/Findata.hs
Due: hlint, fourmolu

feat(cs): delete support for CS
  src/CLI.hs
  src/FindataFetcher.hs
Due: hlint, fourmolu

chore: update deps
  DEV.md
  cabal.project
  findata-funnel.cabal
  package.yaml
Due: hpack, prettier

chore: add just build
  Justfile
Due: none

feat: add config
  Justfile
  app/Main.hs
  findata-funnel.cabal
  package.yaml
  src/CLI.hs
  src/GPayslip.hs
Due: hpack, hlint, fourmolu, prettier

Path conditions:
  hpack: any of: package.yaml
  hlint: any of: *.hs
  fourmolu: any of: *.hs
  prettier: any of: *.{yml,yaml}
